@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@500&family=Koh+Santepheap:wght@300&family=Roboto&display=swap');

nav{
    height: 4rem;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}
nav ul li{
    text-decoration: none;
}
nav ul .brand{
    position: relative;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}
nav ul .brand a{ 
    width: 100%;
    color: white;
}
nav ul .brand a:hover{
    color:rgb(0, 0, 150);
    transition: 300ms ease-out;
}
nav ul .list{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;

}
nav ul .list .listItems{
    padding: 0 1rem 0 1rem;
}
nav ul .list .listItems a:hover{
    color:rgb(0, 0, 150);
    transition: 300ms ease-out;
}
nav ul .list .listItems a{
    color: white;
}

@media screen and (min-width:426px ){
    nav ul{
        display: flex;
        flex-direction: row;
    }
    nav ul .brand{
        font-size: 2.8rem;
    }
    nav ul .list .listItems{
        font-size: 1rem;
    }
}

@media screen and (min-width:530px ){
    nav ul .list .listItems{
        font-size: 1.3rem;
        padding: 0 1.5rem 0 1.5rem;
    }
}

@media screen and (min-width:730px ){
    nav{
        height: 6rem;
        width: 100%;
    }
    nav ul .brand{
        position: relative;
        font-size: 3rem;
        font-family: 'Bebas Neue', cursive;
    }
}
@media screen and (min-width:800px ){
    nav ul .brand{
        position: relative;
        left: -2rem;
    }
}
@media screen and (min-width:900px ){
    nav ul .brand{
        position: relative;
        left:-5rem;
    }
}