@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gemunu+Libre:wght@500&family=Koh+Santepheap:wght@300&family=Roboto&display=swap');

.main{
    font-family: 'Gemunu Libre', sans-serif;
}
.image img{
    width: 90%;
    /* height: 500px; */
}
.designation{
    color: orange;
}

@media screen and (min-width:992px ){
     .buttons .hireme-link .hireme-link-btn{
        font-size: 1rem;
    }
    .buttons  .get-resume .get-resume-btn{
        font-size: 1rem;
    }
}