@tailwind base;
@tailwind components;
@tailwind utilities;

// @import '~bootstrap/scss/bootstrap.scss';

@import './custom.scss';

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "lighter":$lighter,
  "dark": $dark,
  "green":$green,
  "transparent":$transparent,
  "transp":$transp,
);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  